body,html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background: white;
    font-family: 'Roboto', sans-serif;
	max-width:1000px;
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.container {
    padding:20px;
    margin: auto;
	width:100%;
    overflow-x: hidden;
}


.right{
    float: right;
}

.left{
    float: left;
}


#image{
    float:left;
    padding:0px 20px 20px 0px;
}

.list_box{
    width:100%;
    overflow:hidden;
}

.box{
    display: inline-block;
    width: 50%;
    float:left;
}


img{
    max-width: 100%; 
    height: auto;
    vertical-align: middle;
}

#identity {
    overflow: auto;
}

#backgroundimage{
    background-image: url('img/bat_cover.jpg');
    height: 350px;
    padding-top: 50px;
    color: #fff;
    margin-top: 25px;
}

#content{
    background-color: rgb(0,0,0,0.7);
    max-width: 450;
    padding: 30px 20px;
    margin-top: 50px;
}

table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}

td,th{
    padding: 15px;
    border: 1px solid #a4a4a4;
    height: 30px;
}

th{
    text-align: left;
    background-color: #ececec;
}

.thumbnail {
    display: inline-block;
    height: auto;
    padding: 4px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    text-align: center;
    color: #666;
    margin: 50px;
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li> a{
	display: block;
	color:#666;
	padding:14px 16px;
    text-decoration: none;
    float: right;
}
	